.tweet {
    /* min-width: 65%; */
  /* max-width: 500px; Prevent overly wide tweets on large screens */
  border-radius: 15px;
  background-color: #f7f7f7; /* Snowish background */
  padding: 15px;
  margin-bottom: 15px;
  height: 300px; /* Fixed height for consistent layout */
  overflow-y: auto; /* Allow scrolling for excess content */
}

.username {
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer; /* Indicate interactivity for username link */
}

.content {
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}
